<template>
  <v-toolbar>
    <v-toolbar-title class="headline text-uppercase">
      <router-link :to="{name: 'events'}" :style="styleLink">
        <span class="font-weight-light">Have a </span>
        <span>Party</span>
      </router-link>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn v-if="isLoggedIn" :to="{name: 'events'}" flat>
        <span class="mr-0">Események</span>
      </v-btn>
      <v-btn v-if="isLoggedIn" flat  :to="{name: 'eventEdit', params: { id: 0}}">
        <span color="primary" class="mr-0">Új esemény</span>
      </v-btn>
      <v-btn v-if="isLoggedIn" :to="{name: 'view', params: {username: user}}" flat>
        <span class="mr-0">Profilom</span>
      </v-btn>
      <v-btn v-if="!isLoggedIn" flat :to="{name: 'login'}">
        <span color="primary" class="mr-0">Bejelentkezés</span>
      </v-btn>
      <v-btn v-if="!isLoggedIn" flat :to="{name: 'register'}">
        <span color="primary" class="mr-0">Regisztráció</span>
      </v-btn>
      <v-btn v-if="isLoggedIn" flat  :to="{name: 'login'}" @click="logout">
        <span color="primary" class="mr-0">Kijelentkezés</span>
      </v-btn>
      <v-btn @click="changeDarkMode"
        flat
      >
      <v-icon>fas fa-adjust</v-icon>
      </v-btn>
    </v-toolbar-items>
    <v-toolbar-side-icon class="hidden-md-and-up"/>
  </v-toolbar>
</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
  name: 'PartyNavbar',
  methods: {
    ...mapActions([
      'changeDarkMode',
      'logout'
    ])
  },
  data: () => ({
    styleLink: {
      color: 'grey',
      textDecoration: 'none',
      outline: 0,
    },
    user: localStorage.user
  }),
  computed: {
    ...mapGetters([
      'isLoggedIn'
    ])
  }
};
</script>
