<template>
  <v-container fill-height fluid pa-2>
    <v-layout text-xs-center wrap>
      <v-flex v-for="e in eventMins" :key="e.eventTitle" xs12 sm8 offset-sm2 my-5>
        <v-card>
          <v-img
            v-if="e.picture"
            :src="'data:' + e.picture.fileType + ';base64,'+ e.picture.data"
            aspect-ratio="2.75"
          ></v-img>
          <v-img
            v-else
            src="https://images.pexels.com/photos/1756338/pexels-photo-1756338.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
            aspect-ratio="2.75"
          ></v-img>
          <v-card-title primary-title class="pb-0">
              <h3 class="headline mb-0 text-uppercase">{{e.title}}</h3>
          </v-card-title>
          <v-card-text class="text-xs-left">
            <hr>
            <p></p>
            <h2>Kapunyitás</h2>
            <h5>{{e.beginsAt.substr(0, 10)}} {{e.beginsAt.substr(11)}}</h5>
            <p></p>
            <h2>Induló jegyár</h2>
            <h5>{{e.price}} Ft</h5>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="orange">Érdekel</v-btn>
            <v-btn :to="{name: 'event', params: { id: e.id}}" flat color="orange">Részletek</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  name: 'Events',
  data () {
    return {
      eventMin: {
        id: 0,
        title:	'',
        beginsAt:	'',
        city:	'',
        price:	0,
        picture:	null
      },
      eventMins: []
    }
  },
  methods: {
    fetchEvents() {
      this.$http.get('events')
        .then(response => {
          return response.json();
        })
        .then(data => {
          const tempArray = [];
          for (let key in data) {
            tempArray.push(data[key]);
          }
          this.eventMins = tempArray
        })
    },
  },
  beforeMount(){
    this.fetchEvents()
  }
}
</script>
