<template>
  <v-container fill-height fluid pa-2>
    <v-layout wrap>
      <v-flex xs12 sm8 offset-sm2 my-5>
        <v-layout row wrap>
          <v-flex pa-3 md12>
            <v-card xs-12>
              <v-img
                id="helokaa"
                class="white--text"
                aspect-ratio="2.75"
                :src="imageUrl"
              >
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <span style="background-color: black; padding: 3px" class="headline">{{event.title}}</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
            </v-card>
          </v-flex>
          <v-flex pa-3 xs12 md12>
            <v-card>
              <v-card-title primary-title class="pb-0">
                <h3 class="headline mb-0 text-uppercase">Leírás</h3>
              </v-card-title>
              <v-card-text class="text-xs-left">
                <v-form enctype="multipart/form-data">
                  <v-container py-0>
                  <v-layout wrap>
                    <v-flex xs12 md12>
                      <v-text-field color="#00F299" label="Válassz borítóképet" @click='pickFile' v-model='imageName' prepend-icon='attach_file'></v-text-field>
                      <input type="file" style="display: none" ref="image" accept="image/*" @change="onFilePicked">
                    </v-flex>
                    <v-flex xs12 md12>
                      <v-text-field color="#00F299" label="Cím" v-model="event.title"/>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea color="#00F299" auto-grow multi-line rows="3" box label="Leírás" v-model="event.description"/>
                    </v-flex>
                    <v-flex xs12 md3>
                      <v-dialog
                        ref="dialogBeginDate"
                        v-model="modalBeginDate"
                        :return-value.sync="date"
                        persistent
                        lazy
                        full-width
                        width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="eventInterval.beginDate"
                          label="Válassz dátumot"
                          prepend-icon="event"
                          readonly
                        ></v-text-field>
                        <v-date-picker v-model="eventInterval.beginDate" scrollable>
                          <v-spacer></v-spacer>
                          <v-btn flat color="primary" @click="modalBeginDate = false">Cancel</v-btn>
                          <v-btn flat color="primary" @click="$refs.dialogBeginDate.save(eventInterval.beginDate)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                    </v-flex>
                    <v-flex xs12 md3>
                      <v-dialog
                        ref="dialogBeginTime"
                        v-model="modalBeginTime"
                        :return-value.sync="time"
                        persistent
                        lazy
                        full-width
                        width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="eventInterval.beginTime"
                          label="Válassz időpontot"
                          prepend-icon="access_time"
                          readonly
                        ></v-text-field>
                        <v-time-picker
                          v-if="modalBeginTime"
                          v-model="eventInterval.beginTime"
                          full-width
                          format="24hr"
                        >
                          <v-spacer></v-spacer>
                          <v-btn flat color="primary" @click="modalBeginTime = false">Cancel</v-btn>
                          <v-btn flat color="primary" @click="$refs.dialogBeginTime.save(eventInterval.beginTime)">OK</v-btn>
                        </v-time-picker>
                      </v-dialog>
                    </v-flex>
                    <v-flex xs12 md3>
                      <v-dialog
                        ref="dialogEndDate"
                        v-model="modalEndDate"
                        :return-value.sync="date"
                        persistent
                        lazy
                        full-width
                        width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="eventInterval.endDate"
                          label="Válassz dátumot"
                          prepend-icon="event"
                          readonly
                        ></v-text-field>
                        <v-date-picker v-model="eventInterval.endDate" scrollable>
                          <v-spacer></v-spacer>
                          <v-btn flat color="primary" @click="modalEndDate = false">Cancel</v-btn>
                          <v-btn flat color="primary" @click="$refs.dialogEndDate.save(eventInterval.endDate)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                    </v-flex>
                    <v-flex xs12 md3>
                      <v-dialog
                        ref="dialogEndTime"
                        v-model="modalEndTime"
                        :return-value.sync="time"
                        persistent
                        lazy
                        full-width
                        width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          v-model="eventInterval.endTime"
                          label="Válassz időpontot"
                          prepend-icon="access_time"
                          readonly
                        ></v-text-field>
                        <v-time-picker
                          v-if="modalEndTime"
                          v-model="eventInterval.endTime"
                          full-width
                          format="24hr"
                        >
                          <v-spacer></v-spacer>
                          <v-btn flat color="primary" @click="modalEndTime = false">Cancel</v-btn>
                          <v-btn flat color="primary" @click="$refs.dialogEndTime.save(eventInterval.endTime)">OK</v-btn>
                        </v-time-picker>
                      </v-dialog>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Ország" v-model="event.country"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Város" v-model="event.city"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Utca" v-model="event.street"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Házszám" v-model="event.streetNumber"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field type="number" color="#00F299" label="Ár" v-model="event.price"/>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Fellépők" v-model="event.performers"/>
                    </v-flex>
                    <v-flex xs12 md6 text-xs-right>
                      <p class="text-uppercase text-gray mb-3" :color="updateIsSuccess" v-bind:style="{color: updateIsSuccess}" v-if="updateAlert">{{updateAlertText}}</p>
                    </v-flex>
                    <v-flex xs12 md6 text-xs-right>
                      <v-btn class="mx-0 font-weight-light" color="gray" @click="submitEvent">
                        Mentés
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
                </v-form>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Event',
  data () {
    return {
      event: {
        id: 0,
        creationDate: '',
        lastModificationDate: '',
        title:	'',
        description: '',
        beginsAt:	'',
        endsAt: '',
        performers: '',
        country: '',
        city:	'',
        street: '',
        streetNumber: '',
        price:	0,
        organizer: {},
        picture:	{},
      },
      styleLink: {
        textDecoration: 'none',
        outline: 0,
      },
      eventInterval: {
        beginDate: '',
        beginTime: '',
        endDate: '',
        endTime: ''
      },
      updateAlert: false,
      updateIsSuccess: '',
      updateAlertText: '',
      imageName: '',
      imageUrl: '',
      imageFile: '',
      imageType: '',
      modalBeginDate: false,
      modalBeginTime: false,
      modalEndDate: false,
      modalEndTime: false,
      date: new Date().toISOString().substr(0, 10),
      user: localStorage.user
    }
  },
  methods: {
    fetchEvent() {
      if (this.$route.params.id !== 0){
        this.$http.get('events/'+ this.$route.params.id)
        .then(response => {
          return response.json()
        })
        .then(data => {
          this.event = data
          this.fillEventInterval(data)
          this.imageUrl = 'data:' + this.event.picture.fileType + ';base64,' + this.event.picture.data
        })
      }
    },
    submitEvent() {
      this.event.beginsAt = this.eventInterval.beginDate + "T" + this.eventInterval.beginTime
      this.event.endsAt = this.eventInterval.endDate + "T" + this.eventInterval.endTime
      if (this.$route.params.id == 0){
        this.$http.post('events/user/' + this.user, this.event)
        .then(response => {
          return response.json()
        })
        .then(data => {
          if (this.imageFile !== ''){
            var formData = new FormData()
            formData.append('file', this.imageFile, 'event.jpg')
            this.$http.post('events/' + data.id + '/pic', formData)
            .then(() => {
              this.$router.push({name: 'event', params: { id: data.id}})
            })
          }
        })
      }else{
        this.$http.post('events/' + this.$route.params.id, this.event)
        .then(() => {
          if (this.imageFile !== ''){
            var formData = new FormData()
            formData.append('file', this.imageFile, 'event.jpg')
            this.$http.post('events/' + this.$route.params.id + '/pic', formData)
            .then(() => {
              this.updateIsSuccess = '#00F299';
              this.updateAlertText = 'Esemény frissítve!'
            })
          } else {
            this.updateIsSuccess = '#00F299';
            this.updateAlertText = 'Esemény frissítve!'
          }
        },
        () => {
          this.updateIsSuccess = '#F50057'
          this.updateAlertText = 'Eseményt nem sikerült frissíteni!'
        })
        .then(() => {
          this.updateAlert = true
          setTimeout(() => {
            this.updateAlert = false
        }, 3000); 
        });
      }
    },
    fillEventInterval(data) {
      this.eventInterval.beginDate = data.beginsAt.substr(0, 10)
      this.eventInterval.beginTime = data.beginsAt.substr(11)
      this.eventInterval.endDate = data.endsAt.substr(0, 10)
      this.eventInterval.endTime = data.endsAt.substr(11)
    },
    pickFile () {
      this.$refs.image.click ()
    },
		onFilePicked (e) {
			const files = e.target.files
			if(files[0] !== undefined) {
				this.imageName = files[0].name
				if(this.imageName.lastIndexOf('.') <= 0) {
					return
				}
				const fr = new FileReader ()
				fr.readAsDataURL(files[0])
				fr.addEventListener('load', () => {
					this.imageUrl = fr.result
          this.imageFile = files[0]
				})
			} else {
				this.imageName = ''
				this.imageFile = ''
				this.imageUrl = ''
			}
		}
  },
  beforeMount(){
    this.fetchEvent()
  }
}
</script>
