<template>
  <v-container fill-height fluid pa-2>
    <v-layout wrap>
      <v-flex xs12 sm8 offset-sm2 my-5>
        <v-layout row wrap>
          <v-flex pa-3 md12>
            <v-card xs-12>
              <v-img
                v-if="event.picture"
                class="white--text"
                aspect-ratio="2.75"
                :src="'data:' + event.picture.fileType + ';base64,'+ event.picture.data"
              >
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs11 align-end flexbox>
                      <span style="background-color: black; padding: 3px" class="headline">{{event.title}}</span>
                    </v-flex>
                    <v-flex xs1 flexbox>
                      <v-btn v-if="ableToEdit()" :to="{name: 'eventEdit', params: { id: event.id}}">
                        <v-icon small>fas fa-edit</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
              <v-img
                v-else
                class="white--text"
                aspect-ratio="2.75"
                src="https://images.pexels.com/photos/1756338/pexels-photo-1756338.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
              >
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs11 align-end flexbox>
                      <span style="background-color: black; padding: 3px" class="headline">{{event.title}}</span>
                    </v-flex>
                    <v-flex xs1 flexbox>
                      <v-btn v-if="ableToEdit()" :to="{name: 'eventEdit', params: { id: event.id}}">
                        <v-icon small>fas fa-edit</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
            </v-card>
          </v-flex>
          <v-flex pa-3 xs12 md8>
            <v-card>
              <v-card-title primary-title class="pb-0">
                <h3 class="headline mb-0 text-uppercase">Leírás</h3>
              </v-card-title>
              <v-card-text class="text-xs-left">
                <p>{{event.description}}</p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex pa-3 xs12 md4>
            <v-card>
              <v-card-title primary-title class="pb-0">
                <h3 class="headline mb-0 text-uppercase">Mikor?</h3>
              </v-card-title>
              <v-card-text class="text-xs-left">
                <p>{{event.beginsAt}}</p>
                <p>-</p>
                <p>{{event.endsAt}}</p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex pa-3 xs12 md4>
            <v-card>
              <v-card-title primary-title class="pb-0">
                <h3 class="headline mb-0 text-uppercase">Hol?</h3>
              </v-card-title>
              <v-card-text class="text-xs-left">
                <p>{{event.country}}</p>
                <p>{{event.city}}</p>
                <p>{{event.street}} {{event.streetNumber}}</p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex pa-3 xs12 md4>
            <v-card>
              <v-card-title primary-title class="pb-0">
                <h3 class="headline mb-0 text-uppercase">Jegyek</h3>
              </v-card-title>
              <v-card-text class="text-xs-left">
                <p>{{event.price}} HUF</p>
                <p>...</p>
                <p>todo jegy kapható link</p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex pa-3 xs12 md4>
            <v-card>
              <v-card-title primary-title class="pb-0">
                <h3 class="headline mb-0 text-uppercase">Fellépők</h3>
              </v-card-title>
              <v-card-text class="text-xs-left">
                <p>{{event.performers}}</p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex pa-3 xs12 md4>
            <v-flex xs12 pb-3>
              <v-card>
                <v-card-title primary-title>
                  <h3 class="headline mb-0 text-uppercase">Vendégek</h3>
                </v-card-title>
                <v-layout v-for="g in event.guests" :key="g.id" wrap class="pb-3">
                  <v-flex xs3 md4 lg3>
                    <v-avatar tile slot="offset" class="mx-auto d-block">
                      <router-link hover tag="img" 
                        src="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-9/14264005_1176089435786736_5932591380704697245_n.jpg?_nc_cat=104&_nc_ht=scontent.fbud2-1.fna&oh=b4781f553b09da37c82fd1d11d0c5642&oe=5CA76216" 
                        :style="styleLink" :to="{name: 'view', params: { username: g.nickName}}">
                      </router-link>
                    </v-avatar>
                  </v-flex>
                  <v-flex xs9 md8 lg9>
                    <router-link class="subheading mb-0 orange--text" :style="styleLink" :to="{name: 'view', params: { username: g.nickName}}">{{g.firstName}} {{g.lastName}}</router-link>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
            <v-flex xs12 pt-3>
              <v-card>
                <v-card-title primary-title>
                  <h3 class="headline mb-0 text-uppercase">Szervező</h3>
                </v-card-title>
                <v-layout wrap class="pb-3">
                  <v-flex xs3 md4 lg3>
                    <v-avatar tile slot="offset" class="mx-auto d-block">
                      <router-link hover tag="img" 
                        src="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-9/14264005_1176089435786736_5932591380704697245_n.jpg?_nc_cat=104&_nc_ht=scontent.fbud2-1.fna&oh=b4781f553b09da37c82fd1d11d0c5642&oe=5CA76216" 
                        :style="styleLink" :to="{name: 'view', params: { username: event.organizer.nickName}}">
                      </router-link>
                    </v-avatar>
                  </v-flex>
                  <v-flex xs9 md8 lg9>
                    <router-link class="subheading mb-0 orange--text" :style="styleLink" 
                      :to="{name: 'view', params: { username: event.organizer.nickName}}">{{event.organizer.firstName}} {{event.organizer.lastName}}
                    </router-link>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
          </v-flex>
          <v-flex pa-3 xs12 md8>
            <v-card>
              <v-card-title primary-title>
                <h3 class="headline mb-0 text-uppercase">Hozzászólások</h3>
              </v-card-title>
              <v-layout v-for="c in event.comments" :key="c.id" wrap class="pb-3">
                <v-flex xs3 md3 lg2>
                  <v-avatar slot="offset" class="mx-auto d-block">
                    <router-link hover tag="img" 
                      src="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-9/14264005_1176089435786736_5932591380704697245_n.jpg?_nc_cat=104&_nc_ht=scontent.fbud2-1.fna&oh=b4781f553b09da37c82fd1d11d0c5642&oe=5CA76216" 
                      :style="styleLink" :to="{name: 'view', params: { username: c.writer.nickName}}"></router-link>                  
                  </v-avatar>
                </v-flex>
                <v-flex xs9 md9 lg10>
                  <router-link class="subheading mb-0 orange--text" :style="styleLink" 
                    :to="{name: 'view', params: { username: c.writer.nickName}}">{{c.writer.firstName}} {{c.writer.lastName}}
                  </router-link>
                  <p>{{c.content}}</p>
                </v-flex>
              </v-layout>
              <v-layout px-3>
                <v-flex xs12 md10>
                  <v-textarea color="#00F299" auto-grow multi-line rows="1" label="Hozzászólás írása" value="TODO"/>
                </v-flex>
                <v-flex xs12 md2 text-xs-right>
                  <v-btn class="mx-0 font-weight-light" color="gray">
                    Küldés
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Event',
  data () {
    return {
      event: {
        id: 0,
        creationDate: '',
        lastModificationDate: '',
        title:	'',
        description: '',
        beginsAt:	'',
        endsAt: '',
        performers: '',
        country: '',
        city:	'',
        street: '',
        streetNumber: '',
        price:	0,
        organizer: {},
        guests: [],
        comments: [],
        picture:	{}
      },
      styleLink: {
        textDecoration: 'none',
        outline: 0,
      }
    }
  },
  methods: {
    fetchEvents() {
      this.$http.get('events/'+ this.$route.params.id)
        .then(response => {
          return response.json();
        })
        .then(data => {
          this.event = data
        })
    },
    ableToEdit() {
      if(this.event.organizer.nickName === localStorage.user){
        return true
      } else {
        return false
      }
    }
  },
  beforeMount(){
    this.fetchEvents()
  }
}
</script>
