<template>
  <v-container fill-height fluid pa-2>
    <v-layout text-xs-center wrap>
      <v-flex xs12 sm6 offset-sm3 my-5>
        <v-card>
          <v-card-title primary-title class="pb-0">
              <h3 class="headline mb-0 text-uppercase">Bejelentkezés</h3>
          </v-card-title>
          <v-form>
            <v-text-field prepend-icon="person" name="Username" label="Felhasználónév" v-model="user.nickName"></v-text-field>
            <v-text-field prepend-icon="lock" name="Password" label="Jelszó" type="password" v-model="user.password"></v-text-field>
            <v-flex xs12>
              <p class="text-uppercase mb-3" v-bind:style="{ color: failedColor }" v-if="failedLogin">Sikertelen bejelentkezés</p>
            </v-flex>
            <v-card-actions>
              <v-btn primary large block @click="submitUser()">Bejelentkezés</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  data () {
    return {
      user: {
        nickName: '',
        password: ''
      },
      failedLogin: false,
      failedColor: '#F50057'
    }
  },
  methods: {
    ...mapActions([
      'login'
    ]),
    submitUser() {
      this.$http.post('login', this.user)
        .then(response => {
          this.login(response.headers.get('Authorization'))
          var token = localStorage.token;
          var temp = JSON.parse(atob(token.split('.')[1]))
          localStorage.user = temp.sub
          this.$router.push({name: 'events'})
        },
        () => {
          this.failedLogin = true
        })
    }
  }
}
</script>