<template>
  <v-container fill-height fluid pa-2>
    <v-layout text-xs-center wrap >
      <v-flex xs12 sm6 offset-sm3 my-5>
        <v-card>
          <v-card-title primary-title class="pb-0">
              <h3 class="headline mb-0 text-uppercase">Regisztráció</h3>
          </v-card-title>
          <v-layout>
            <v-flex xs12 md12>
              <v-form>
                <v-container py-0>
                  <v-layout wrap>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Felhasználónév" v-model="user.nickName"/>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Jelszó" type="password" v-model="user.password"/>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Email" v-model="user.email"/>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Foglalkozás" v-model="user.job"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Vezetéknév" v-model="user.lastName"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Keresztnév" v-model="user.firstName"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Instagam" v-model="user.instagram"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Kor" type="number" v-model="user.age"/>
                    </v-flex>
                    <v-flex xs12 md8 >
                      <v-slider
                        color="#00F299"
                        hint="Mennyi idős vagy?"
                        min="1"
                        max="100"
                        thumb-label="always"
                        v-model="user.age"
                      ></v-slider>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Város" v-model="user.city"/>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Ország" v-model="user.country"/>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea color="#00F299" auto-grow multi-line rows="1" box label="Magamról" v-model="user.about"/>
                    </v-flex>
                    <v-flex xs12 md6 text-xs-right>
                      <p class="text-uppercase text-gray mb-3" :color="updateIsSuccess" v-bind:style="{color: updateIsSuccess}" v-if="updateAlert">{{updateAlertText}}</p>
                    </v-flex>
                    <v-flex xs12 md6 text-xs-right>
                      <v-btn class="mx-0 font-weight-light" color="gray" @click="submitUser()">
                        Regisztrálok
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
      user: {
        email: '',
        firstName: '',
        lastName: '',
        nickName: '',
        city: '',
        country: '',
        about: '',
        job: '',
        age: 0,
        instagram: '',
        password: '',
        //profilePicture:	{}
      },
      updateAlert: false,
      updateIsSuccess: '',
      updateAlertText: '',
    }
  },
  methods: {
    submitUser() {
      if (this.user.password == '' || this.user.nickName == '' || this.user.email == ''
        || this.user.job == '' || this.user.firstName == '' || this.user.lastName == ''
        || this.user.age < 16 || this.user.city == '' || this.user.country == ''
        || this.user.about == ''){
        this.updateIsSuccess = '#F50057';
        this.updateAlertText = 'Sikertelen regisztráció!'
        this.updateAlert = true;
          setTimeout(() => {
            this.updateAlert = false;
        }, 3000); 
      } else {
        this.$http.post('users/register', this.user)
        .then(() => {
          this.updateIsSuccess = '#00F299';
          this.updateAlertText = 'Sikeres regisztráció'
          this.$router.push({name: 'login'})
        },
        () => {
          this.updateIsSuccess = '#F50057';
          this.updateAlertText = 'Sikertelen regisztráció!'
        })
        .then(() => {
          this.updateAlert = true;
          setTimeout(() => {
            this.updateAlert = false;
        }, 3000); 
        });
      }
    }
  }
}
</script>