<template>
  <v-container fill-height fluid pa-2>
    <v-layout text-xs-center wrap >
      <v-flex xs12 sm8 offset-sm2 my-5>
        <v-card>
          <v-card-title primary-title>
          </v-card-title>
          <v-layout>
            <v-flex xs12 md8>
              <v-form enctype="multipart/form-data">
                <v-container py-0>
                  <v-layout wrap>
                    <v-flex xs12 md12>
                      <v-text-field color="#00F299" label="Válassz profilképet" @click='pickFile' v-model='imageName' prepend-icon='attach_file'></v-text-field>
                      <input type="file" style="display: none" ref="image" accept="image/*" @change="onFilePicked">
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Email" v-model="user.email"/>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Foglalkozás" v-model="user.job"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Vezetéknév" v-model="user.lastName"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Keresztnév" v-model="user.firstName"/>
                    </v-flex>
                    <v-flex xs12 md4>
                      <v-text-field color="#00F299" label="Instagam" v-model="user.instagram"/>
                    </v-flex>
                    <v-flex xs12 md12 >
                      <v-slider
                        color="#00F299"
                        label="Kor"
                        hint="Mennyi idős vagy?"
                        min="1"
                        max="100"
                        thumb-label="always"
                        v-model="user.age"
                      ></v-slider>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Város" v-model="user.city"/>
                    </v-flex>
                    <v-flex xs12 md6>
                      <v-text-field color="#00F299" label="Ország" v-model="user.country"/>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea color="#00F299" auto-grow multi-line rows="1" box label="Magamról" v-model="user.about"/>
                    </v-flex>
                    <v-flex xs12 md6 text-xs-right>
                      <p class="text-uppercase text-gray mb-3" :color="updateIsSuccess" v-bind:style="{color: updateIsSuccess}" v-if="updateAlert">{{updateAlertText}}</p>
                    </v-flex>
                    <v-flex xs12 md6 text-xs-right>
                      <v-btn class="mx-0 font-weight-light" color="gray" @click="submitUser()">
                        Profil Frissítése
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-flex>
            <v-flex xs12 md4>
                <v-avatar slot="offset" class="mx-auto d-block" size="130">
                  <img :src="imageUrl">
                </v-avatar>
                <v-card-text class="text-xs-center">
                  <p class="font-weight-light headline orange--text">
                    <router-link :style="styleLink" 
                      :to="{name: 'view', params: { id: user.id}}">{{user.lastName}} {{user.firstName}}
                    </router-link>  
                  </p>
                  <p class="text-uppercase text-gray font-weight-thin mb-3">{{user.job}}</p>
                  <p class="card-description font-weight-light">{{user.about}}</p>
                  <v-btn flat icon color="pink" :href="instagramLink" target="_blank">
                    <v-icon large>fab fa-instagram</v-icon>
                  </v-btn>
                </v-card-text>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Edit',
  data () {
    return {
      user: {
        id: 0,
        firstName: '',
        lastName: '',
        email: '',
        city: '',
        country: '',
        about: '',
        job: '',
        age: 0,
        instagram: '',
        profilePicture:	{}
      },
      instagramLink: '',
      styleLink: {
        textDecoration: 'none',
        outline: 0,
        color: '#00F299'
      },
      imageName: '',
      imageUrl: '',
      imageFile: '',
      imageType: '',
      updateAlert: false,
      updateIsSuccess: '',
      updateAlertText: '',
    }
  },
  methods: {
    fetchUser() {
      this.$http.get('users/' + this.$route.params.id)
        .then(response => {
          return response.json();
        })
        .then(data => {
          this.user = data
          this.instagramLink = 'https://www.instagram.com/' + data.instagram
          this.imageUrl = 'data:' + this.user.profilePicture.fileType + ';base64,' + this.user.profilePicture.data
        })
    },
    submitUser() {
      this.instagramLink = 'https://www.instagram.com/' + this.user.instagram;
      this.$http.post('users/' + this.$route.params.id, this.user)
        .then(() => {
          var formData = new FormData()
          formData.append('file', this.imageFile, 'user.jpg')
          this.$http.post('users/' + this.$route.params.id + '/pic', formData)
            .then(() => {
          this.updateIsSuccess = '#00F299';
          this.updateAlertText = 'Profil frissítve!'
            })
        },
        () => {
          this.updateIsSuccess = '#F50057';
          this.updateAlertText = 'Profilt nem sikerült frissíteni!'
        })
        .then(() => {
          this.updateAlert = true;
          setTimeout(() => {
            this.updateAlert = false;
        }, 3000); 
        });
    },
    pickFile () {
      this.$refs.image.click ()
    },
		onFilePicked (e) {
			const files = e.target.files
			if(files[0] !== undefined) {
				this.imageName = files[0].name
				if(this.imageName.lastIndexOf('.') <= 0) {
					return
				}
				const fr = new FileReader ()
				fr.readAsDataURL(files[0])
				fr.addEventListener('load', () => {
					this.imageUrl = fr.result
          this.imageFile = files[0]
				})
			} else {
				this.imageName = ''
				this.imageFile = ''
				this.imageUrl = ''
			}
		}
  },
  beforeMount(){
    this.fetchUser()
  }
}
</script>
