<template>
  <v-container fill-height fluid pa-2>
    <v-layout text-xs-center wrap >
      <v-flex xs12 sm8 offset-sm2 my-5>
        <v-layout wrap>
          <v-flex pa-3 xs12>
            <v-card>
              <v-layout pa-4 wrap>
                <v-flex md4>
                  <v-avatar slot="offset" class="mx-auto d-block" size="200">
                    <img v-if="user.profilePicture" :src="'data:' + user.profilePicture.fileType + ';base64,'+ user.profilePicture.data">
                    <img v-else src="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-9/14264005_1176089435786736_5932591380704697245_n.jpg?_nc_cat=104&_nc_ht=scontent.fbud2-1.fna&oh=b4781f553b09da37c82fd1d11d0c5642&oe=5CA76216">
                  </v-avatar>
                </v-flex>
                <v-flex text-xs-left md7>
                  <p class="display-3">
                    {{user.firstName}} {{user.lastName}}
                    <v-btn v-if="ableToEdit()" flat icon :to="{name: 'edit', params: { id: user.id}}">
                      <v-icon small>fas fa-edit</v-icon>
                    </v-btn>
                  </p>
                  <p class="headline font-weight-thin">{{user.job}}</p>
                  <p class="subheading font-weight-thin">{{user.about}}</p>
                </v-flex>
                <v-flex xs12 md1 text-xs-right>
                  <v-btn flat icon color="pink" :href="user.instagram">
                    <v-icon large>fab fa-instagram</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex px-3 md4 xs12>
            <v-card>
              <v-card-title primary-title>
                Város
              </v-card-title>
              <v-card-text class="text-xs-left">
                <p class="headline font-weight-thin">{{user.city}}</p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex px-3 md4 xs12>
            <v-card>
              <v-card-title primary-title>
                Ország
              </v-card-title>
              <v-card-text class="text-xs-left">
                <p class="headline font-weight-thin">{{user.country}}</p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex px-3 md4 xs12>
            <v-card>
              <v-card-title primary-title>
                Kor
              </v-card-title>
              <v-card-text class="text-xs-left">
              <p class="headline font-weight-thin">{{user.age}}</p>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex v-for="e in eventMins" :key="e.id" px-3 pa-3 md4 xs6>
            <v-card>
              <v-img src='https://scontent.fbud4-1.fna.fbcdn.net/v/t1.0-9/26731331_1662746853785518_334521279932889830_n.jpg?_nc_cat=100&_nc_ht=scontent.fbud4-1.fna&oh=fdc0e4eb3eebbfcecd55202ee59fc5fa&oe=5CA110CB' height="200px">
                <v-container fill-height fluid pa-2>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox text-xs-left>
                      <span style="background-color: black; padding: 3px" class="headline white--text">{{e.title}}</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon>fas fa-ticket-alt</v-icon>
                </v-btn>
                <v-btn :to="{name: 'event', params: { id: e.id}}" icon>
                  <v-icon>fas fa-ellipsis-h</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'View',
  data () {
    return {
      user: {
        id: 0,
        firstName: '',
        lastName: '',
        nickName: '',
        city: '',
        country: '',
        about: '',
        job: '',
        age: 0,
        instagram: '',
        profilePicture:	{}
      },
      eventMin: {
        id: 0,
        title: '',
        picture: {}
      },
      eventMins: []
    }
  },
  methods: {
    fetchUser() {
      this.$http.get('users/' + this.$route.params.username + '/view')
        .then(response => {
          return response.json();
        })
        .then(data => {
          this.user = data;
          this.user.instagram = 'https://www.instagram.com/' + data.instagram;
        })
    },
    fetchUserEvents() {
      this.$http.get('events/users/' + this.$route.params.username)
        .then(response => {
          return response.json();
        })
        .then(data => {
          const tempArray = [];
          for (let key in data) {
            tempArray.push(data[key]);
          }
          this.eventMins = tempArray;
        })
    },
    ableToEdit(){
      if (this.$route.params.username === localStorage.user) {
        return true
      }
      return false
    }
  },
  beforeMount(){
    this.fetchUser(),
    this.fetchUserEvents()
  }
}
</script>
