<template>
  <v-app :dark="darkMode">
    <the-navbar/>
    <router-view/>
    <the-footer/>
  </v-app>
</template>

<script>
import TheNavbar from './components/TheNavbar'
import TheFooter from './components/TheFooter'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
    TheNavbar,
    TheFooter
  },
  data () {
    return {
      //
    }
  },
  computed: {
    ...mapGetters([
      'darkMode'
    ])
  }
}
</script>
